* { box-sizing:border-box; }

html, body {
	margin: 0px; 
	height: 100%;
}
#overlay{
	position: fixed; /* Sit on top of the page content */
  	display: block; /* Hidden by default */
  	width: 65%; /* Full width (cover the whole page) */
  	height: 65%; /* Full height (cover the whole page) */
  	top: 15%;
  	left: 18%;
  	right: 0;
  	bottom: 0;
  	background-color: white; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  	cursor: pointer; /* Add a pointer on hover */
}
#CharacterCreationError{
	text-align: right;
	font-size:20px;
	color: red;
	height: 40px;
	width: 390px;
	float: left;
	margin-left:520px;
	margin-top: -10px;
}
#SkillPoints{
	font-size: 40px;
	color: blue;
	width: 25px;
	height: 25px;
	margin-left: -100px;
	margin-top:-370px;
	float: left;
}
#SkillPointsText{
	color: blue;
	font-size: 20px;
	width: 195px;
	height: 20px;
	text-align:center;
	margin-left: -180px;
	float: left;
	margin-top:-300px;
}

#charCreationTxt{
	float: left;
	width: 15%;
	height: 80%;
	color: blue;
	text-align: right;
	font-size: 35px;
	margin-left:1%;
	margin-top:6%;
	float: left;
}
#charCreationBoxes{
	margin-top:-3%;
	width: 22%;
	height: 90%;
	margin-left:18%;
}
#nameBox{
	margin-top: 50%;
	float: left;
}
#strengthBox{
	margin-top:24%;
	float: left;
}
#SpeedBox{
	margin-top:25%;
	float: left;
}
#VitalityBox{
	margin-top:25%;
	float: left;
}
#charismaBox{
	margin-top:25%;
	float: left;
}
#submitButton{
	background:black;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}
#entire{
	border-style: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto; 
	background-color: lightblue; 
	height: 100%;
}

#row{
	margin-left: -5px;
	margin-right: -5px; 
	background-color: lightblue; 
	height: 100%;
}

.column{
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	width: 32.25%;
	float: left; 
	padding-left: 0.75%;
	padding-right: 0.75%; 
	margin-top: 0.75%;
	margin-left: 0.75%; 
	margin-right: 0.75;
	background-color: gray; 
	text-align: center; 
	position: relative;
	height: 97.5%;
}

.subsection {
	clear: both; 
	font-family: 'Encode Sans SC', sans-serif; 
	color: blue;
	font-size: 20px; 
	margin: 0.75%;
	border-style: solid none solid none; 
	border-color: blue;
	border-width: medium;
	background-color: black; 
	height: 32.3%; 
	text-align:middle;
}
h1{
	font-size:20px;
	margin-top: .25px;
	color: blue;
	text-align:middle;
}
#statsNames{
	margin-top: 10px;
	width: 100%;
	height: 15%;
	background: black;
	font-size: 20px;
	text-align: right;
}
#statNameBox{
	width:22%;
	height:84%;
	background:black;
}
#statsBox{
	background: black;
	width: 50px;
	height: 160px;
	margin-left: 90px;
	margin-top:-186px;
	float: left;
	
}
#healthBox{
	background:black;
	width: 80px;
	height: 30px;
	margin-left: 145px;
	margin-top:-40px;
	float: left;
}
#playerHealth{
	background:black;
	width: 25px;
	height: 30px;
	margin-left: 225px;
	margin-top:-40px;
	float: left;
}
#playerNameBox{
	background:black;
	width: 100px;
	height: 30px;
	margin-left: 205px;
	margin-top:-220px;
	text-align: center;
	float:left;
}
#armorBox{
	background:black;
	width: 80px;
	height: 30px;
	margin-left: 270px;
	margin-top:-40px;
	float: left;
}
#armorStat{
	background: black;
	width: 20px;
	height: 30px;
	margin-left: 350px;
	margin-top:-40px;
	float: left;
}
#levelUpBackDrop{
	background: grey;
	width: 20px;
	height: 30px;
	margin-left: 350px;
	margin-top:-40px;
	float: left;
}
td.statsLabel{
	color: red;
	text-align: left;
	margin-left: 10px;
	float: left;
}

td.playerStats{
	color: purple;
	float:left;
	text-align: left;
	font-size: 20px;
}
