* { box-sizing:border-box; }

html, body {
	margin: 0px; 
	height: 100%;
}
#overlayLevelUp{
	position: fixed; /* Sit on top of the page content */
  	display: block; /* Hidden by default */
  	width: 32.25%; /* Full width (cover the whole page) */
  	height: 75%; /* Full height (cover the whole page) */
  	top: 10%;
  	left: 33.75%;
  	background-color: white; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  	cursor: pointer; /* Add a pointer on hover */
}
#levelUpTitle{
	font-size: 50px;
	float: left;
	color: blue;
	margin-left: 32%;
}
#levelUpSkillPoints{
	font-size: 40px;
	color: blue;
	text-align:center;
}
#levelUpSkillPointsText{
	color: blue;
	font-size: 20px;
	text-align:center;
	float:left;
}
#levelUpTextTable{
	margin-top:4%;
	margin-left:37%;
	float:left;
}
#levelUpTable{
	margin-top:20%;
	margin-left:-68%;
	float:left;
	color: blue;
	font-size: 40px;
	border-spacing: 20px;
	text-align:right;
}
#plusTable{
	margin-top:-72%;
	margin-left:42%;
	font-size:20px;
	border-spacing: 5px;
	color:blue;
	float: left;
}
#levelUpTableTextBox{
	margin-top:-76%;
	margin-left:33%;
	float: left;
	font-size: 40px;
	border-spacing: 20px;
	width: 5px;
}
#levelUpResultText{
	margin-top:-75%;
	margin-left:45%;
	float: left;
	font-size:40px;
	width: 5px;
	border-spacing: 20px;
	color: blue;
	text-align:right;
}
#levelUpResultNumbers{
	margin-top:-75%;
	margin-left: 80%;
	float: left;
	font-size:40px;
	border-spacing: 20px;
	color: blue;

}
#levelDone{
	margin-top:-7%;
	margin-left:89.5%;
	float: left;
}
#levelUpError{
	margin-top:107%;
	margin-right:15%;
	color: red;
	text-align: right;
}
#overlayCharacterCreation{
	position: fixed; /* Sit on top of the page content */
  	display: block; /* Hidden by default */
  	width: 65%; /* Full width (cover the whole page) */
  	height: 65%; /* Full height (cover the whole page) */
  	top: 15%;
  	left: 18%;
  	right: 0;
  	bottom: 0;
  	background-color: white; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  	cursor: pointer; /* Add a pointer on hover */
}

#header{ /* Sit on top of the page content */
  	display: flex; 
  	width: 100%; 
  	height: 5%;
  	background-color: rgb(105, 0, 0); /* Black background with opacity */
	z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
	color: white; 
	font-size: 20px; 
	text-align: left;
	margin:auto;
}
#CharacterCreationError{
	text-align: right;
	font-size:20px;
	color: red;
	height: 40px;
	width: 390px;
	float: left;
	margin-left:520px;
	margin-top: -10px;
}
#SkillPoints{
	font-size: 40px;
	color: blue;
	width: 25px;
	height: 25px;
	margin-left: -100px;
	margin-top:-370px;
	float: left;
}
#SkillPointsText{
	color: blue;
	font-size: 20px;
	width: 195px;
	height: 20px;
	text-align:center;
	margin-left: -180px;
	float: left;
	margin-top:-300px;
}
#StartingItems{
	border-style: solid;
	border-color: brown;
	background-color: beige;
	height: 100px;
	width: 520px;
	float: left;
	margin-top: -25px;
	margin-left: 45px;
}
#PickWeapons{
	width: 205px;
	height: 25px;
	float: left;
	margin-top: 20px;
	margin-left:20px;
}
#PickApparel{
	width: 205px;
	height: 25px;
	float: left;
	margin-top: 20px;
	margin-left: 60px;
}

#PickTool{
	width: 205px;
	height: 25px;
	float: left;
	margin-top: 20px;
	margin-left:285px;
}
#PickMisc{
	width: 205px;
	height: 25px;
	float: left;
	margin-top: -25px;
	margin-left:20px;
}
#charCreationTxt{
	float: left;
	width: 15%;
	height: 80%;
	color: blue;
	text-align: right;
	font-size: 35px;
	margin-left:1%;
	margin-top:6%;
	float: left;
}
#charCreationBoxes{
	margin-top:-3%;
	width: 22%;
	height: 90%;
	margin-left:18%;
}
#nameBox{
	margin-top: 50%;
	float: left;
}
#strengthBox{
	margin-top:24%;
	float: left;
}
#SpeedBox{
	margin-top:25%;
	float: left;
}
#VitalityBox{
	margin-top:25%;
	float: left;
}
#charismaBox{
	margin-top:25%;
	float: left;
}
#chrDone{
	margin-top:1%;
	margin-left:1%;
	float: left;
}
#submitButton{
	background:black;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}
#entire{
	border-style: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto; 
	background-color: lightblue; 
	height: 95%;
}

#row{
	margin-left: -5px;
	margin-right: -5px; 
	background-color: lightblue; 
	height: 100%;
}

.column{
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	width: 32.25%;
	float: left; 
	padding-left: 0.75%;
	padding-right: 0.75%; 
	margin-top: 0.75%;
	margin-left: 0.75%; 
	margin-right: 0.75;
	background-color: gray; 
	text-align: center; 
	position: relative;
	height: 97.5%;
}

.subsection {
	clear: both; 
	font-family: 'Encode Sans SC', sans-serif; 
	color: blue;
	font-size: 20px; 
	margin: 0.75%;
	border-style: solid none solid none; 
	border-color: blue;
	border-width: medium;
	background-color: black; 
	height: 32.3%; 
	text-align:middle;
}
h1{
	font-size:20px;
	margin-top: .25px;
	color: blue;
	text-align:middle;
}
#statsNames{
	margin-top: 0px;
	width: 100%;
	height: 15%;
	background: black;
	font-size: 20px;
	text-align: left;
}
#stats{
margin-top:10%;
}
#statNameBox{
	width:22%;
	height:84%;
	margin-top:-20%;
	background:red;
}
#statsBox{
	background: red;
	width: 50px;
	height: 160px;
	margin-left: 0px;
	margin-top:-20%;
	float: left;
	
}
#statusBox{
	background:black;
	margin-right: 50%;
	margin-top: 0%;
}
#xpBar{
	margin-top:-15px;
	margin-left:90%;
	float: left;
}
#barBack{
	background-color:grey;
	width:20px;
	height:160px;
}
#barFiller{
	margin-left:25%;
	margin-top:0%;
	background-color:blue;
	width:10px;
	height:0%;
}

#playerHealth{
	background:black;
	width: 25px;
	height: 30px;
	margin-left: 225px;
	margin-top:-40px;
	float: left;
}
#playerNameBox{
	background:black;
	margin-left: 30%;
	margin-top:-43%;
	text-align: center;
	
}
#armorBox{
	background:black;
	width: 80px;
	height: 30px;
	margin-left: 270px;
	margin-top:-40px;
	float: left;
}
#armorStat{
	background: black;
	width: 20px;
	height: 30px;
	margin-left: 350px;
	margin-top:-40px;
	float: left;
}
#levelUpBackDrop{
	background: grey;
	width: 20px;
	height: 30px;
	margin-left: 350px;
	margin-top:-40px;
	float: left;
}
td.statsLabel{
	color: red;
	text-align: left;
	margin-left: 10px;
	float: left;
}

td.playerStats{
	color: purple;
	float:left;
	text-align: left;
	font-size: 20px;
}
