* { box-sizing:border-box; }

html, body {
	margin: 0px; 
	height: 100%;
}

#entire{
	border-style: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto; 
	background-color: lightblue; 
	height: 100%;
}

#row{
	margin-left: -5px;
	margin-right: -5px; 
	background-color: lightblue; 
	height: 100%;
}

.column{
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	width: 32.25%;
	float: left; 
	padding-left: 0.75%;
	padding-right: 0.75%; 
	margin-top: 0.75%;
	margin-left: 0.75%; 
	margin-right: 0.75;
	background-color: gray; 
	text-align: center; 
	position: relative;
	height: 97.5%;
}

.subsection {
	clear: both; 
	font-family: 'Encode Sans SC', sans-serif;
	font-size: 30px; 
	color: blue; 
	text-align: center; 
	margin: 0.75%;
	border-style: solid none solid none; 
	border-color: blue;
	border-width: medium;
	background-color: black; 
	float: center; 
	height: 32.3%; 
}
