#entire{
	background-color: black;
	height: 100%;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1; 
}

.overlay{
	position: fixed; /* Sit on top of the page content */
  	display: flex; /* Hidden by default */
  	width: 70%; /* Full width (cover the whole page) */
  	height: 70%; /* Full height (cover the whole page) */
  	background-color: white; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  	cursor: pointer; /* Add a pointer on hover */
	color: blue; 
	font-size: 35px; 
	text-align: center;
}

.loginText{
	float: left;
	width: 15%;
	height: 80%;
	color: blue;
	text-align: right;
	font-size: 35px;
	float: left;
}
#loginError{
	text-align: left;
	font-size:20px;
	color: red;
	height: 40px;
	width: 390px;
	float: left;
	margin-left:52px;
	margin-top: -10px;
}
#loginBoxes{
	margin-top:5%;
}
#usernameBox{
	vertical-align: middle;
	float: left;
}
#passwordBox{
	vertical-align: middle;
	float: left;
}
.submitButton{
	background:white;
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}

#gameTitle{
	width:100%;
	height: 10%;
	text-align:center;
  	Color:red;
    	font-size:225%;
	position: absolute;
	top: 0; 
	left: 0; 
	display: block; 
}
.buttons{
	width: 100%; 
	position: relative;
	display: block; 
	text-align:center;
	margin-top:5px;
	top: 0; 
	left: 0; 
}